@model WebAppCleanArch.Domain.Entities.Course

@{
    ViewData["Title"] = "Hapus Kursus";
}

<h2>@ViewData["Title"]</h2>

<h3>Apakah Anda yakin ingin menghapus ini?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-2">
            Nama Siswa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Hapus" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Kembali ke Daftar</a>
    </form>
</div>